body {
    display: grid;
    grid-template-areas: 
    "aside header" /*1º linha*/
    "aside main"; /*2º linha*/
    grid-template-columns: auto 1fr;
}

/*SEPARAÇÃO DO LAYOUT*/
.cabecalho {
    grid-area: header;
}
.menu-lateral {
    grid-area: aside;
}
.principal {
    grid-area: main;
}

