body {
    display: grid;
    grid-template-areas: 
    "aside header" /*1º linha*/
    "aside main"; /*2º linha*/
}

.cabecalho {
    grid-area: header;
}
.menu-lateral {
    grid-area: aside;
}
.principal {
    grid-area: main;
}